/* Main style sheet for BuildWebsite.html */
code{
    font-size: 14px;
}

.hovering-arrow {
    position: fixed;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f0f0f0; /* Background color */
    padding: 10px;
    border-radius: 0 5px 5px 0; /* Rounded corners on the right side */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    z-index: 2; /* Ensure it's above other elements */
    cursor: pointer; /* Change cursor on hover */
    transition: left 0.5s; /* Add transition effect for the left property */
}

/* Additional styling for hover effect */
.hovering-arrow:hover {
    background-color: #e0e0e0;
    left:0;

}

.small-button-image{
    width:25px;
    height:auto;
}

.side-bar-content{
    display:none;
    position:fixed;
    background-color: #333;
    padding: 5px;
    z-index: 3;
    /* Additional optional properties for alignment, spacing, etc. */
    justify-content: center; /* Aligns items horizontally */
    align-items: center; /* Aligns items vertically */
    flex-direction: column; /* Direction of items (row or column) */
}

.side-bar-content a{
    display: flex;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 5px;
}

.side-bar-content a:hover{
    background-color: #555;
}

.header{
    width:100%;
    height:150px;
    background-color: #ccc;
    border:1px solid black;
    padding:10px;
    margin:20px auto;
    box-sizing:border-box;
    overflow:auto;
}

.highlight-section {
    background-color: yellow; /* Highlight color */
    /* Additional styles if needed */
}